.nav-bar ul {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    margin: 0 20px;
}